html {
    position: relative;
    font-family: "Lato", serif;
    padding-left: 5%;
    padding-right: 5%;
}

.tablist {
    text-align: end;
    padding: 30px;
}

.tablist a {
    z-index: 5;
    text-transform: capitalize;
    background-color: transparent;
    border: none;
    width: 79px;
    height: 27px;
    vertical-align: top;
    padding: 10px;
    text-decoration: none;
    color: black;
}

.up-list {
    background-color: aliceblue;
    text-align: center
}

.up-list div {
    margin-top: 10px;
    margin-bottom: 30px;
    display: inline-block;
}

.up-list div img {
    display: inline-block;
    margin: 10px;
    vertical-align: top;
}

.up-list div a {
    display: block;
    position: absolute;
    font-size: 12px;
    text-transform: capitalize;
    color: black;
    background-color: white;
    margin-top: -40px;
    padding: 20px;
}

.up-list div.place a {
    margin-left: 100px;
}

.up-list div.food a {
    margin-left: 140px;
}

.up-list div.seasson a {
    margin-left: 100px;
}

.container {
    text-align: center;
}

.article {
    display: inline-block;
    color: #47525E;
    font-size: 15px;
    margin-top: 40px;
    width: 730px;
    background-color: aliceblue;
    text-align: center;
}

.article p {
    color: #47525E;
    font-size: 16px;
    margin-left: 80px;
    margin-right: 80px;
}

.me {
    display: inline-block;
    vertical-align: 100px;
    align-self: center;
    width: 214px;
    height: 400px;
    margin-left: 50px
}

.me h1 {
    text-align: center;
    text-transform: capitalize;
    color: #47525E;
    font-size: 16px;
}

.me p {
    text-align: start;
    text-transform: none;
    color: #47525E;
    font-size: 12px;
    margin-bottom: -15px;
}