/*########### Defaults ###########*/
* {}

body {
    line-height: 1;
    margin: auto;
}

.gameContainer {
    width: 100%;
    padding: 4%;
}

.row {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.row::after {
    display: table;
    clear: both;
    content: "";
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

/*########### specific about the game ###########*/

.gameContainer .row .col-1 {
    margin: 2px;
    border-radius: 6px;
    border-color: blue;
    background-color: transparent;
    padding: 50px 10px;
    border-radius: 7px;
    font-size: 40px;

}
