/*########### Defaults ###########*/
* {
  box-sizing: border-box;
}

body {
  line-height: 1;
  margin: 0;
}

.gameContainer {
  width: 100%;
  margin: auto;
    margin-top: 40px;
    
}

.row {
    display: block;
    width: 100%;
    text-align: center;
}

/*########### specific about the game ###########*/


.gameContainer .row button {
    width: 20%;
    align-items: center;
    margin: 2px;
    border-radius: 6px;
    border-color: blue;
    background-color: transparent;
    padding: 50px;
    border-radius: 12px;
    font-size: 60px;

}

.gameContainer .row.specialButton button {
    padding: 50px;
    width: 50%;
}

.noVictory {
    font-size: 300px;
    text-align: center;
}

.victoryAlert {
    display: none;
    font-size: 300px;
    text-align: center;
}

#restart {
    display: none;
}