/*########### Defaults ###########*/
* {
    box-sizing: border-box;
}

body {
    line-height: 1;
    margin-top: 20px;
}

.gameContainer {
    width: 960px;
    margin: auto;
}

.row {
    display: block;
    width: 100%;
    text-align: center;
}
/*########### specific about the game ###########*/


.gameContainer .row div {
    display: inline-block;
    align-items: center;
    font-size: 60px;
    width: 133px;
    height: 96px;
}

.gameContainer .row div:hover {
    cursor: pointer;
}

.gameContainer .row.specialButton div {
    padding: 50px;
    width: 50%;
}

.noVictory {
    font-size: 300px;
    text-align: center;
}

.victoryAlert {
    display: none;
    font-size: 300px;
    text-align: center;
}

#restart {
    display: none;
}

.img1 {
    background-image: url('images/row-1-col-1.jpg');
}
.img2 {
    background-image: url("images/row-1-col-2.jpg");
}
.img3 {
    background-image: url('images/row-1-col-3.jpg');
}
.img4 {
    background-image: url('images/row-2-col-1.jpg');
}
.img5 {
    background-image: url("images/row-2-col-2.jpg");
}
.img6 {
    background-image: url('images/row-2-col-3.jpg');
}
.img7 {
    background-image: url("images/row-3-col-1.jpg");
}
.img8 {
    background-image: url('images/row-3-col-2.jpg');
}
.img0 {
    background-image: url("images/white.png");
}
